footer
  div.footer-column
    img#footerlogo(src="/images/c_logo.png", alt="logo")
  div.footer-column
    h3 Newsletter
    form.newsletter
      input(type="email", placeholder="Your Email Address", required)
      button(type="submit") Send
  div.footer-column
    h3 Our Contacts
    div.contactList
      p.cc Email Address
      p contact@odd14.com
      p.cc Social Medias
    .social
      a(href="https://www.facebook.com/centreaquatiquePlouf")
        img#Facebook(src="/images/facebook-icon.png", alt="Facebook")
div.footerBottom
  p Concept created by Anthony | Ethan | Julien | Wassim
