extends layout

block content
  include partials/header

  section.about
    h1 TAKING ACTION FOR AQUATIC LIFE: A GLOBAL CHALLENGE
    p SDG 14 calls for the protection of marine ecosystems through pollution reduction and the sustainable management of marine resources. It is crucial that we adopt responsible fishing practices and reduce our dependence on plastic. Compliance with international regulations and the establishment of marine protected areas are necessary actions to preserve ocean biodiversity. Governments, businesses, and citizens must collaborate to tackle these challenges and ensure a sustainable future for our oceans. Education, awareness, and technological innovations will play a key role in implementing long-term solutions for oceans and maritime communities.

  section.about
    h2 Overfishing: A Threat to Marine Biodiversity
    p Overfishing is one of the main threats facing the oceans. It destroys marine habitats and leads to a drastic decline in fish populations. This situation threatens marine biodiversity and the food security of millions of people who rely on fish as a primary source of protein. Unsustainable fishing practices, such as illegal and unregulated fishing, further exacerbate the problem, endangering marine ecosystems and coastal communities.

  section.about
    h2 Water Pollution: A Scourge for Marine Ecosystems
    p Water pollution is another major factor in ocean degradation. Millions of tons of plastic end up in the seas every year, killing thousands of marine animals, including fish, turtles, and birds. Chemical pollution and nutrients from agricultural activities also lead to "dead zones" in the oceans, where living conditions become impossible for many marine species.

  include partials/footer