extends layout

block content
  include partials/header

  .banner
    .sliders
      .slides
        img.photo(src="https://learnandconnect.pollutec.com/wp-content/uploads/2022/06/gouvernance-oceans-1024x633-1.jpg", alt="img_1")
        img.photo(src="https://www.ewb.ca/wp-content/uploads/2018/08/1-SDG-14-Life-below-water-abigail-lynn-51622-unsplash-992x400.jpg", alt="img_2")
        img.photo(src="/images/img2.jpg", alt="img_3")
        img.photo(src="https://www.iisd.org/sites/default/files/styles/banner_mobile/public/2021-01/hawksbill%20turtle.jpg?h=170ba4b8&itok=A_fU5yI_", alt="img_4")

  include partials/footer